Django==2.0.3
python==3.6

创建模板
django-admin startproject mysite
创建应用
python manage.py startapp blog

建立数据表
python manage.py makemigrations
数据迁移
python manage.py migrate
运行服务
python manage.py runserver

给应用创建数据表
python manage.py makemigrations blog


-- 如果创建了子目录apps，在apps 里面有message的应用
setting.py

import sys
sys.path.insert(0,os.path.join(BASE_DIR,'apps'))

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'message',
]

STATICFILES_DIRS = [
    os.path.join(BASE_DIR, 'static')
]


TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [os.path.join(BASE_DIR, 'templates')],
}

--url.py
新版本的django 里面不需要 正则匹配，只需要 真实的地址即可，
之前的做法

from django.conf.urls import url
path(r'^form/', getform, name="form_new"),

现在
from django.urls import path
from message.views import getform
from message import views
path(r'form/', getform, name="form_new"),

这样也不行
path(r'form', getform, name="form_new"),


--创建数据库表的时候命令
python manage.py makemigrations messages 
如果没有这一步 会出现module 里面的数据表不会显示在 navacit 里面，切记
只有操作了这一步，才会新建 一个叫 message_usermessage 的表单

--如果在models .py里面没有定义主键 object_id 那么表单是默认按照 原本的主键ID 自动自增，
每次记录不会覆盖，如果自定义了主键，怎每次体检的留言信息都会覆盖前一次的数据











